<head>
    <meta charset="UTF-8">
    <title>{% block title %}Log in!{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/darkly/bootstrap.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}" />
    {% block stylesheets %} {% endblock %}
</head>
{% block body %}
<div class="d-flex justify-content-center">
    <div class="form-group col-4 pt-4">
        <form method="post">
            {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
            {% endif %}
            <h1 class="h1 mb3 col-12">Pointeuse SRDEV</H1>
            <h2 class="h3 mb-4 col-12">Avez-vous besoin d'une pointeuse</h2>
            <label for="user">Email</label>
            <input type="text" value="{{ last_username }}" name="user" id="user" class="form-control" required
                autofocus>
            <label for="inputPassword">Mot de passe</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}
<br></br>
            <button class="btn btn-lg btn-info" type="submit">
                Se connecter
            </button>
        </form>
    </div>
</div>
</div>
{% endblock %}
{% block footer %}
<div class="footer fixed-bottom row">
    <div class="footer-copyright text-center py-3 col-4">
        <a href="https://srdev.fr/" class="text-info">Contact</a>
    </div>
    <div class="footer-copyright text-center py-3 col-4">© 2020 Copyright:
        <a href="https://srdev.fr/" class="text-info"> SRDev</a>
    </div>
    <div class="footer-copyright text-center py-3 col-4">
        <a href="https://srdev.fr/" class="text-info">Mentions légales</a>
    </div>
</div> {% endblock %}
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.min.js"></script>
{% block javascripts %}
{% endblock %}