{% extends "base.html.twig" %}
 
{% block body %}
<div class="row justify-content-center">
    <div class="col-11 col-sm-6 ">
      {{ form_start(form) }}
      {{ form_row(form.society, { 'label': 'Société'}) }}
      {{ form_row(form.firstName, { 'label': 'Prénom'}) }}
      {{ form_row(form.lastName, { 'label': 'Nom'}) }}
      {{ form_row(form.email, { 'label': 'email'}) }}
      {{ form_row(form.phone, { 'label': 'Téléphone'}) }}
      {{ form_end(form) }}
    </div>
</div>
{% endblock %}
