{% extends 'base.html.twig' %} {% block title %}{{ parent() }} - Liste Missions {% endblock %} {% block body %} {% for message in app.flashes('success') %}
<div class="alert alert-success">
    {{ message }}
</div>
{% endfor %}
<div class="row text-center bg-dark">
    <div class="col-4">
        <strong>Société</strong></br>
        <a href="#">
            <h6 class="text-black">{{ client.society }} </br><small>{{ client.firstName }} {{ client.lastName }}</small></h6>
        </a>
    </div>
    <div class="col-4">
        <strong>Téléphone</strong></br>
        <a href="#">
            <h6 class="text-black mt-2"> {{ client.phone }}</h6>
        </a>
    </div>
    <div class="col-4">
        <strong>Email</strong> </br>
        <a href="#">
            <h6 class="text-black  mt-2">{{ client.email }}</h6>
        </a>
    </div>
</div>

<div class="row">
    <div class="col-12 pt-4">
        <div class="table-responsive">
            <table class="table table-striped table-dark">
                <thead>
                    <tr>
                        <th scope="col">Nom mission</th>
                        <th scope="col">Chrono</th>
                        <th scope="col">Pointeuse</th>
                        <th scope="col">Edit</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for mission in missions %}
                    <tr>
                        <th scope="row">{{ mission.titleMission }}<br>{{ mission.createdAt | date("d/m/Y")}}</th>
                        <a>
                            <td>
                                {{mission.chrono | date("h : m : s")}}
                            </td>
                            <td>
                                <a class="btn btn-primary btn-sm relief" href="{{ path('pointeuse',{missionId: mission.id}) }}">
                                    <i class="fas fa-stopwatch"></i>
                                </a>
                            </td>
                            <td>
                                <a class="btn btn-warning btn-sm relief" href="{{ path('edit_mission',{missionId: mission.id}) }}">
                                    <i class="fas fa-edit"></i>
                                </a>
                            </td>
                            <td>
                                <form onsubmit="return confirm('sur ?');" action=" {{ path('delete_mission',{missionId: mission.id}) }}" method="post">
                                    <input type="hidden" name="token" value="{{ csrf_token('delete_mission') }}" />
                                    <button type="submit " class="btn btn-danger btn-sm relief">
                                        <i class="fas fa-trash-alt"></i>
                                    </button>
                                </form>
                            </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row mt-5 justify-content-center">
    <div class="col-4">
        <a href="{{ url('new_mission') }}"><button type="button"class="small text-btn btn-info btn-lg btn-block relief">Ajouter une mission</button></a>
    </div>
    <div class="col-4">
        <a href="#"><button type="button"class="small text-btn btn-info btn-lg btn-block relief" id="impression" name="impression" type="button" onclick="imprimer_page()">Imprimer cette page</button></a> {# <input class="btn btn-info " id="impression" name="impression"
            type="button" onclick="imprimer_page()" value="Imprimer cette page" /> #}
    </div>
</div>
{% endblock %}