<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}SRDEV POINTEUSE{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/darkly/bootstrap.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.css" rel="stylesheet">

    <link rel="stylesheet" href="{{ asset('css/normalize.css') }}" />
    <link rel="shortcut icon" type="image/x-icon" href="{{ asset('img/logosr.png')}}" /> {% block stylesheets %} {% endblock %}    <link rel="stylesheet" href="{{ asset('css/style.css') }}" />
</head>

<body>
    {% if is_granted('ROLE_ADMIN') %} {% block header %}
    <nav class="navbar navbar-expand-md navbar bg-dark mb-4">
        <a class="navbar-brand" href="{{ url('home') }}"><img src="{{ asset('img/logosr.png')}}" alt="Le logo de SRDEV" class="logo-base"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            {# Code pour la recherche dans la nav bar : #} {#
            <form class="form-inline mt-2 mt-md-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Rechercher" aria-label="Rechercher">
            </form> #}
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="txtshadowsombre nav-link text-white" href="{{ path('pointeuse_index') }}">Pointeuse</a>
                </li>
                <li class="nav-item">
                    <a class="txtshadowsombre nav-link text-white" href="{{ url('new_client') }}">Nouveau client</a>
                </li>
                <li class="nav-item">
                    <a class="txtshadowsombre nav-link text-white" href="{{ url('listing_client',{userId: app.user.id}) }}">Mes clients</a>
                </li>
                <li class="nav-item">
                    <a class="txtshadowsombre nav-link  text-white" href="{{ url('new_mission') }}">Ajouter une mission</a>
                </li>
                <li class="nav-item">
                    <a class="txtshadowsombre nav-link text-white" href="{{ url('historic',{userId: app.user.id}) }}">Historique</a>
                </li>
                <li class="nav-item">
                    <a class="txtshadowsombre nav-link text-white" href="{{ url('app_logout') }}">Déconnexion</a>
                </li>
            </ul>
        </div>
    </nav>
    {% endblock %}
    <div class="container">
        {% block body %} {% endblock %}
    </div>
    {% else %}
    <div class="d-flex justify-content-center">
        <div class="col-6 col-sm-4 mt-5">
            <div class="alert alert-danger">
                <i class="far fa-grin-beam-sweat"></i>
                <strong>Bien tenté ! </strong> Vous n'êtes pas autorisé à acceder à cette page, veuillez vous connecter.
                <a href="{{ url('app_login') }}">Cliquez ici</a>
            </div>
        </div>
    </div>
    {% endif %} {% block footer %}
    <div class="footer fixed-bottom row mt-5">
        <div class="footer-copyright text-center py-3 col-4">
            <a href="https://srdev.fr/" class="text-info">Contact</a>
        </div>
        <div class="footer-copyright text-center py-3 col-4">© 2020 Copyright:
            <a href="https://srdev.fr/" class="text-info"> SRDev</a>
        </div>
        <div class="footer-copyright text-center py-3 col-4">
            <a href="https://srdev.fr/" class="text-info">Mentions légales</a>
        </div>
    </div> {% endblock %}
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type="text/javascript">
        function imprimer_page() {
            window.print();
        }
    </script>
    {% block javascripts %}{% endblock %}
</body>

</html>